.footer {
    background-color: #d1477e;
    color: white;
    text-align: center;
    padding: 1rem;
  }
  
  .social-icons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 0.5rem;
  }
  
  .social-icon {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease;
  }
  
  .social-icon:hover {
    transform: scale(1.2);
  }
  